*{
    margin:0 auto;
    display: block;
}

.container-desktop{
    margin: 0 auto;
    background: rgb(194, 194, 194);
    width: 50%;
    height: 30%;
    
}

h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: rgb(167, 0, 0);
    padding: 1em;
    font-size: 40px;
}

h2{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    margin: 1em 0;
}
.book-table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.button-view{
    /* width: 6em; */
    background: rgb(42, 42, 129);
    color: darkgray;
    text-align: center;
    padding: 0.5em;
    border: none;
    border-radius: 7px;
    margin-bottom: 2em;
    margin-top: 2em;
   

}

.button-reservation{
    background: rgb(167, 0, 0);
    color: darkgray;
    text-align: center;
    padding: 0.5em;
    border: none;
    border-radius: 7px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.reservation-view{
    background: rgb(42, 42, 129);
    color: darkgray;
    text-align: center;
    padding: 0.5em;
    border: none;
    border-radius: 7px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.home{
    background: rgb(105, 105, 105);
    color: rgb(14, 14, 14);
    text-align: center;
    padding: 0.5em;
    border: none;
    border-radius: 7px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.table-heading{
    background: rgb(99, 99, 99);
    padding: 0.5em;
    border-radius: 7px;
    margin-top: 2em;
    margin: 0 auto;
    width: 50%;
    height: 30%;
    margin-top: 3em;
}

.reserve-table{
    
}


